#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.pad-button {
  width: min(20vw,20vh,150px);
  height: min(20vw,20vh,150px);
  font-size: xx-large;
  margin:5px;
}

.d-flex.justify-content-around {
  display: flex;
  justify-content: space-around!important;
}
.text-button{
  height: min(20vw,20vh);
  font-size: xx-large;
}
